<!DOCTYPE html>
<html>
<head>
    <title>PDF Merger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>PDF Merger</h1>

    <div id="drop-area" ondblclick="browseFiles()">
        <p>Drag and drop PDF files here </p>
		<span class="symbol">&#128568;</span>
    </div>
    
    <div id="file-list"></div>
    <div id="move-description" style=font-size:20px>Can change the sequence of files by dragging and dropping them</div>
    
    <form id="merge-form" action="/merge" method="POST">
         <input type="submit" value="Merge Files &#127800;" class="merge-button">
    </form>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
